@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="Book" asp-action="Index" class="btn btn-primary">
    All Books
</a>
<a asp-controller="Membership" asp-action="Apply" class="btn btn-primary">
    Apply for membership
</a>